@mixin flex($y, $x) {
  display: flex;
  justify-content: $y;
  align-items: $x;
}

@mixin flex-center($y: true, $x: true) {
  display: flex;
  @if $y == true {
    justify-content: center;
  }
  @if $x == true {
    align-items: center;
  }
}

@mixin flex-col {
  display: flex;
  flex-direction: column;
}

@mixin image-responsive {
  height: auto;
  width: 100%;
}

@mixin transform-absolute($y: -50%, $x: -50%) {
  position: absolute;
  transform: translate($y, $x);
}

@mixin main-pc($center: false) {
  max-width: 940px;
  text-align: center;
  @if $center == true {
    margin: 0 auto;
  }
}
