// Reboot
//
// Normalization of HTML elements, manually forked from Normalize.css to remove
// styles targeting irrelevant browsers while applying new styles.

// Change from `box-sizing: content-box` so that `width` is not affected by `padding` or `border`.
@font-face {
  font-family: 'Yu Gothic';
  src: url("../fonts/yugothic.ttf") format("truetype");
}

@font-face {
  font-family: 'Din Condensed';
  src: url("../fonts/D-DINCondensed.ttf") format("truetype");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: $font-size-base;
}

/* Body */

body {
  margin: 0; // Remove the margin in all browsers.
  //font-family: $font-family-base;
  font-family: "Yu Gothic";
  font-weight: $font-weight-base;
  line-height: $line-height-base;
  color: $body-color;
  text-align: left;
  background-color: $body-bg;
}

b,
strong {
  font-weight: bolder; // Add the correct font weight in Chrome, Edge, and Safari
}

small {
  font-size: 80%; // Add the correct font size in all browsers
}

/* Links */

a {
  color: $link-color;
  text-decoration: none;
  background-color: transparent; // Remove the gray background on active links in IE 10.
  -webkit-text-decoration-skip: objects; // Remove gaps in links underline in iOS 8+ and Safari 8+.

  &:hover {
    opacity: .8;
  }
}

/* Images and content */

img {
  vertical-align: middle;
  border-style: none; // Remove the border on images inside links in IE 10-.
}

/* Tables */

table {
  border-collapse: collapse; // Prevent double borders
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
