// Responsive mobile first

/* Min mobile (Samsung...) */
$breakpoint-min: 360px;

/* Max mobile (iPhone 8 Plus, Samsung Galaxy S+,...) */
$breakpoint-mobile: 415px;

/* Tablet */
$breakpoint-medium: 768px;

/* HD PC Screen */
$breakpoint-big: 1366px;

/* Full-HD PC Screen */
$breakpoint-max: 1920px;