@import 'variables';
@import 'colors';
@import 'responsive';
@import 'mixins';
@import 'reboot';

.sp {
  display: block;
}

.pc {
  display: none;
}

header {
  height: 55px;
  @include flex(space-between, center);
  position: relative;

  .logo {
    margin-left: 8px;
  }

  .menu {
    width: 55px;
    height: 55px;
    background-color: $color-gray;
    @include flex-center;
    text-align: center;

    .bar {
      width: 55px;

      .bar-first,
      .bar-second,
      .bar-third {
        height: 2px;
        background-color: white;
        margin: 3px auto;
        transition: 0.4s;
        width: 17px;
      }
    }

    .show {
      .bar-first {
        transform: rotate(-45deg) translate(-1px, 1px);
      }

      .bar-second {
        opacity: 0;
      }

      .bar-third {
        transform: rotate(45deg) translate(-6px, -6px);
      }
    }

    &-txt {
      text-transform: uppercase;
      font-size: 0.8rem;
      color: white;
      padding-top: 2px;
    }

    &-sp {
      display: none;
      position: absolute;
      top: 55px;
      left: 0;
      width: 100%;
      z-index: 10;

      ul {
        li {
          height: 50px;
          border-bottom: 1px solid $color-gray;
          background-color: black;
          opacity: 0.8;
          font-size: 1.3rem;
          @include flex-center(false, true);
          padding-left: 23px;

          a {
            color: white;
            width: 100%;
            text-align: left;
          }

          img {
            position: absolute;
            right: 12px;
          }
        }
      }
    }

    &.sp {
      display: flex;
    }
  }
}

.button {
  font-weight: bold;
  font-size: 1.5rem;
  width: 100%;
  height: 50px;
  border: none;
  border-bottom: 4px solid black;
  background-color: $color-bg-button;
  color: white;
  border-radius: 5px;
  position: relative;

  &:focus {
    outline: none;
  }

  &:active {
    border-bottom: none;
  }

  &-ico-left,
  &-ico-right {
    @include transform-absolute;
    top: 50%;
  }

  &-ico-left {
    left: 27px;
  }

  &-ico-right {
    right: 10px;
  }
}

.page {
  padding-bottom: 80px;

  &-nav {
    .page-padding {
      .button:first-child {
        margin-bottom: 25px;
      }
    }
  }

  &-img {
    img {
      @include image-responsive;
    }

    .illust-staff-img {
      padding: 0 47px 0 30px;
      margin-bottom: 12px;
    }

    &.page-main-img {
      padding-top: 25px;
    }
  }

  &-padding {
    padding: 0 20px;
  }

  &-bold-ttl {
    margin: 35px 0 30px;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
  }

  .heading {
    margin-top: 100px;
    text-align: center;

    &-mini-ttl {
      font-size: 1em;
      color: white;
      @include flex-center(true, false);

      span {
        background-color: #009b63;
        padding: 0 5px;
        font-weight: bold;
      }
    }

    &-big-ttl {
      font-family: "Din Condensed", sans-serif;
      font-weight: bold;
      @include flex-center;
      font-size: 4.2rem;
      text-transform: uppercase;
      position: relative;

      &-img {
        margin: 0 15px;
      }
    }

    &.first {
      margin-top: 100px;
    }
  }

  .content {
    background-color: #f5f9f6;
    padding: 70px 20px 70px;
    margin-top: -40px;
    font-size: 1.5rem;
    color: $color-text-gray;

    &-head {
      font-size: 1.7rem;
      font-weight: bold;
      text-align: center;
      margin-bottom: 30px;
    }

    &-guide {
      text-align: center;
      background-color: white;
      margin: 45px 0 25px;
      padding: 20px 0;
      border-radius: 5px;
      position: relative;

      &-symbol {
        color: #66bd9a;
      }

      img {
        left: 50%;
        top: 0;
        @include transform-absolute(-50%, -70%);
      }

      &-big-ttl {
        font-size: 2.75rem;
        color: $color-success;
        font-weight: bold;
      }

      &-mini-ttl {
        font-size: 1.6rem;
        font-weight: bold;
        position: relative;

        &:before,
        &:after {
          content: '';
          border-bottom: 1px solid black;
          position: absolute;
          width: 35px;
        }

        &:before {
          top: 50%;
          left: 20px;
        }

        &:after {
          top: 50%;
          right: 20px;
        }
      }

      &:after {
        content: '';
        bottom: -14px;
        @include transform-absolute;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #fff;
      }
    }

    &-guide-img {
      display: flex;
      width: 100%;
      margin-bottom: 20px;

      img {
        width: calc(100% / 3);
        height: auto;
        padding-right: 10px;

        &:last-child {
          padding-right: 0;
        }
      }
    }

    &-guide-img-second {
      img {
        @include image-responsive;
        margin-bottom: 52px;
      }
    }

    &-certificate {
      border: 1px solid #d9e5df;
      border-radius: 5px;
      padding: 33px 27px 38px;
      background-color: white;
      font-size: 1.5rem;
      @include flex-col;

      &-img {
        text-align: center;
      }

      &-big-ttl {
        margin: 25px 0;
        font-weight: bold;
      }
    }

    &-btn {
      margin-top: 45px;
      width: 100%;
    }
  }

  .news {
    margin: 50px 0 40px;

    &-elm {
      margin-top: 15px;
      @include flex-col;
      border-bottom: 1px dotted #ccc;

      &:first-child {
        margin-top: 0;
      }

      &-head {
        padding-left: 33px;

        &-time {
          color: $color-success;
          margin-right: 10px;
        }

        &-badge {
          display: inline-block;
          text-align: center;
          background-color: #68c210;
          color: white;
          padding: 1px 0;
          border-radius: 2px;
          min-width: 66px;

          &.orange {
            background-color: #f89357;
          }

          &.blue {
            background-color: #6082db;
          }
        }
      }

      &-title {
        font-size: 1.16rem;
        padding: 5px 0 15px 33px;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.contact {
  text-align: center;
  background-color: #e4f5e9;
  padding: 30px 20px;
  color: $color-text-gray;
  position: relative;
  @include flex-col;

  &-main {
    &-ttl {
      font-weight: bold;
      font-size: 1.167rem;
      margin-bottom: 5px;
    }

    &-phone {
      font-size: 2.5rem;
      margin-left: 7px;
      font-weight: bold;
      //text-align: left;
    }

    &-time {
      font-size: 1.167rem;
      margin-bottom: 15px;
    }
  }

  .scroll-top {
    height: 45px;
    width: 45px;
    @include flex-center;
    text-transform: uppercase;
    background-color: $color-success;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: -45px;
    font-size: 0.6rem;
    color: white;

    img {
      margin-bottom: 3px;
    }
  }
}

.maps {
  height: 198px;

  iframe {
    border: 0;
  }
}

footer {
  padding: 46px 20px 36px;
  text-align: center;
  @include flex-col;

  .footer {
    &-address {
      margin: 30px 0;
      font-size: 1.167rem;
    }

    &-ads {
      padding: 15px;
      border: 1px solid #ccdbd0;
      border-radius: 5px;
      text-align: left;
      color: $color-text-gray;
      display: flex;
      margin-bottom: 23px;

      &-content {
        margin-left: 16px;
        color: #070707;
      }

      img:first-child {
        margin-right: 8px;
      }
    }

    &-copyright {
      color: $color-gray;
    }
  }
}

@media screen and (min-width: $breakpoint-medium) {
  html {
    font-size: 16px;
  }

  .sp {
    display: none;
  }

  .pc {
    display: block;
  }

  .button {
    font-size: 1.125rem;
    width: 300px;
    max-width: 300px;
    height: 60px;
    max-height: 60px;

    img {
      height: 16px;
    }

    &:hover {
      cursor: pointer;
      opacity: .85;
      transition: all 0.5s;
    }

    &-ico-left {
      left: 27px;
    }

    &-ico-right {
      right: 23px;
    }
  }

  header {
    height: 140px;
    padding-right: 46px;

    .logo {
      margin-left: 50px;
      height: 70px;
    }

    .menu {
      &.sp {
        display: none;
      }
    }

    .menu-pc {
      ul {
        display: flex;

        li {
          text-align: center;
          margin-right: 30px;
          font-size: 0.875rem;
          font-weight: bold;

          a {
            img {
              margin-bottom: 10px;
            }
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }

  .page {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 0 160px;

    &-nav {
      .page-padding {
        @include flex-center;

        .button:first-child {
          margin-right: 36px;
          margin-bottom: 0;
        }
      }
    }

    &-img {
      .illust-staff-img {
        padding: 0 100px 0 80px;
        @include main-pc(true);
        margin-bottom: 55px;
      }

      &.page-main-img {
        padding-top: 0;
      }
    }

    &-padding {
      padding: 0;
      @include main-pc(true);
    }

    &-bold-ttl {
      font-size: 1.5rem;
    }

    &-normal-ttl {
      text-align: center;
      line-height: 2;
      margin-bottom: 60px;
    }

    .heading {
      margin-top: 168px;

      &-mini-ttl {
        font-size: 1.5rem;
      }

      &-big-ttl {
        font-size: 5.625rem;

        &-img {
          height: 55px;
          margin: 0 28px;
        }
      }

      &-ico {
        img {
          height: 41px;
        }
      }

      &.first {
        margin-top: 78px;
      }
    }

    .content {
      padding: 80px 0 97px;
      margin-top: -70px;

      &-head {
        font-size: 1.5rem;
        @include main-pc(false);
        margin: 0 auto 30px;
      }

      &-txt {
        font-size: 1.1rem;
        @include main-pc(true);
      }

      &-guide {
        max-width: 940px;
        margin: 85px auto 50px;
        padding: 25px 0 15px;

        img {
          height: 56px;
        }

        &-big-ttl {
          font-size: 3.75rem;
        }

        &-mini-ttl {
          font-size: 1.67rem;

          &:before,
          &:after {
            width: 65px;
          }

          &:before {
            left: 24%;
          }

          &:after {
            right: 24%;
          }
        }

        &:after {
          bottom: -29px;
          border-left: 20px solid transparent;
          border-right: 20px solid transparent;
          border-top: 20px solid #fff;
        }
      }

      &-guide-img {
        @include main-pc(false);
        margin:0 auto 30px;

        img {
          padding-right: 34px;

          &:last-child {
            padding-right: 0;
          }
        }
      }

      &-guide-img-second {
        @include main-pc(true);

        img {
          margin-bottom: 52px;
        }
      }

      &-certificate {
        @include main-pc(true);
        flex-direction: row;
        padding: 18px 0px 18px 50px;
        font-size: 1rem;
        text-align: left;

        &-img {
          display: flex;
          img {
            height: 90px;
            margin-right: 18px;

            &:last-child {
              margin-right: 47px;
            }
          }
        }

        &-big-ttl {
          font-size: 1.125rem;
          margin: 10px 0;
        }
      }

      &-btn {
        margin-top: 65px;
        @include flex-center(true, false);
      }
    }

    .news {
      max-width: 940px;
      margin: 70px auto 60px;

      &-elm {
        margin-top: 0;
        flex-direction: row;
        height: 60px;
        align-items: center;

        &-head {
          padding-left: 17px;
          @include flex-center(false, true);

          &-time {
            margin-right: 32px;
            font-size: 1.125rem;
          }

          &-badge {
            background-color: #68c210;
            padding: 0;
            border-radius: 3px;
            min-width: 80px;
            height: 18px;
            max-height: 18px;
            font-size: 0.75rem;
          }
        }

        &-title {
          font-size: 1rem;
          padding: 0 0 0 18px;
        }
      }
    }
  }

  .contact {
    padding: 40px 0;
    flex-direction: row;

    &-main {
      width: 940px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;

      &-ttl {
        font-size: 1rem;
        margin-bottom: 0;
        text-align: left;
        line-height: 2;
        padding-top: 3px;
      }

      &-phone {
        font-size: 1.75rem;
        margin-left: 0;

        img {
          height: 23px;
          margin-bottom: 5px;
        }
      }

      &-time {
        font-size: 1.167rem;
        margin-bottom: 0;
        font-weight: bold;
      }
    }

    .scroll-top {
      height: 80px;
      width: 80px;
      top: -80px;
      font-size: 0.8rem;
      color: white;

      img {
        margin-bottom: 6px;
        height: 6px;
      }
      
      &:hover {
        cursor: pointer;
      }
    }
  }

  .maps {
    height: 350px;
  }

  .pc-bot-menu {
    height: 80px;
    @include flex-center;
    background-color: $color-success;

    &-elm {
      padding: 0 10px;
      height: 13px;
      text-transform: uppercase;
      color: white;
      font-size: 0.8rem;
      border-right: 2px solid #74bf89;
      @include flex-center(true, true);

      &:last-child {
        border-right: none;
      }
    }
  }

  footer {
    padding: 0;
    flex-direction: row;
    width: 940px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    height: 220px;
    max-height: 220px;

    .footer {
      &-address {
        margin: 18px 0 0;
        font-size: 1rem;
      }

      &-ads {
        padding: 0 27px 0 30px;
        margin-bottom: 17px;
        height: 88px;
        max-height: 88px;
        @include flex-center(false, true);

        &-content {
          font-size: 0.75rem;
          font-weight: bold;
        }
      }

      &-copyright {
        text-align: right;
        font-size: 0.8rem;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  header {
    .logo {
      height: 55px;
      margin-left: 23px;
    }

    .menu-pc {
      ul {
        li {
          margin-right: 20px;
          font-size: 0.7rem;

          a {
            img {
              margin-bottom: 5px;
              height: 27px;

              &:last-child {
                height: 44px;
                margin-bottom: 0;
              }
            }
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }

  .page {
    .content {
      &-txt {
        max-width: 700px;
      }
    }

    .content-guide {
      max-width: 700px;

      &-mini-ttl {
        &:before {
          left: 15%;
        }
        &:after {
          right: 15%;
        }
      }
    }

    .content-guide-img {
      max-width: 700px;
    }

    .content-guide-img-second.pc {
      max-width: 700px;
    }

    .content-certificate {
      max-width: 700px;
      padding-right: 10px;
    }

    .news {
      max-width: 700px;
    }

    .page-normal-ttl {
      max-width: 700px;
      margin: 0 auto;
    }
  }

  .contact {
    &-main {
      max-width: 700px;
    }
  }

  footer {
    width: 720px;
  }
}

@media screen and (min-width: 415px) and (max-width: 767px)  {
  .button {
    max-width: 315px;
  }

  .page {
    .content-btn {
      @include flex-center(true, false);
    }
  }

  .page-padding {
    @include flex-center(false, true);
    flex-direction: column;
  }

  .contact {
    .scroll-top {
      width: 50px;
      height: 50px;
      top: -50px;
      font-size: 0.8rem;

      img {
        height: 4px;
      }
    }
  }
}
