/* Min mobile (Samsung...) */
/* Max mobile (iPhone 8 Plus, Samsung Galaxy S+,...) */
/* Tablet */
/* HD PC Screen */
/* Full-HD PC Screen */
@font-face {
	font-family: 'Yu Gothic';
	src: url('../fonts/yugothic.ttf') format('truetype');
}

@font-face {
	font-family: 'Din Condensed';
	src: url('../fonts/D-DINCondensed.ttf') format('truetype');
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-family: sans-serif;
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-ms-overflow-style: scrollbar;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	font-size: 12px;
}

/* Body */
body {
	margin: 0;
	font-family: 'Yu Gothic';
	font-weight: 400;
	line-height: 1.5;
	color: #000000;
	text-align: left;
	background-color: #ffffff;
}

b,
strong {
	font-weight: bolder;
}

small {
	font-size: 80%;
}

/* Links */
a {
	color: #333;
	text-decoration: none;
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}
a:hover {
	opacity: 0.8;
}

/* Images and content */
img {
	vertical-align: middle;
	border-style: none;
}

/* Tables */
table {
	border-collapse: collapse;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.sp {
	display: block;
}

.pc {
	display: none;
}

header {
	height: 55px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}
header .logo {
	margin-left: 8px;
}
header .menu {
	width: 55px;
	height: 55px;
	background-color: #666;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
header .menu .bar {
	width: 55px;
}
header .menu .bar .bar-first,
header .menu .bar .bar-second,
header .menu .bar .bar-third {
	height: 2px;
	background-color: white;
	margin: 3px auto;
	transition: 0.4s;
	width: 17px;
}
header .menu .show .bar-first {
	transform: rotate(-45deg) translate(-1px, 1px);
}
header .menu .show .bar-second {
	opacity: 0;
}
header .menu .show .bar-third {
	transform: rotate(45deg) translate(-6px, -6px);
}
header .menu-txt {
	text-transform: uppercase;
	font-size: 0.8rem;
	color: white;
	padding-top: 2px;
}
header .menu-sp {
	display: none;
	position: absolute;
	top: 55px;
	left: 0;
	width: 100%;
	z-index: 10;
}
header .menu-sp ul li {
	height: 50px;
	border-bottom: 1px solid #666;
	background-color: black;
	opacity: 0.8;
	font-size: 1.3rem;
	display: flex;
	align-items: center;
	padding-left: 23px;
}
header .menu-sp ul li a {
	color: white;
	width: 100%;
	text-align: left;
}
header .menu-sp ul li img {
	position: absolute;
	right: 12px;
}
header .menu.sp {
	display: flex;
}

.button {
	font-weight: bold;
	font-size: 1.5rem;
	width: 100%;
	height: 50px;
	border: none;
	border-bottom: 4px solid black;
	background-color: #434343;
	color: white;
	border-radius: 5px;
	position: relative;
}
.button:focus {
	outline: none;
}
.button:active {
	border-bottom: none;
}
.button-ico-left,
.button-ico-right {
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
}
.button-ico-left {
	left: 27px;
}
.button-ico-right {
	right: 10px;
}

.page {
	padding-bottom: 80px;
}
.page-nav .page-padding .button:first-child {
	margin-bottom: 25px;
}
.page-img img {
	height: auto;
	width: 100%;
}
.page-img .illust-staff-img {
	padding: 0 47px 0 30px;
	margin-bottom: 12px;
}
.page-img.page-main-img {
	padding-top: 25px;
}
.page-padding {
	padding: 0 20px;
}
.page-bold-ttl {
	margin: 35px 0 30px;
	font-size: 1.3rem;
	font-weight: bold;
	text-align: center;
}
.page .heading {
	margin-top: 100px;
	text-align: center;
}
.page .heading-mini-ttl {
	font-size: 1em;
	color: white;
	display: flex;
	justify-content: center;
}
.page .heading-mini-ttl span {
	background-color: #009b63;
	padding: 0 5px;
	font-weight: bold;
}
.page .heading-big-ttl {
	font-family: 'Din Condensed', sans-serif;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 4.2rem;
	text-transform: uppercase;
	position: relative;
}
.page .heading-big-ttl-img {
	margin: 0 15px;
}
.page .heading.first {
	margin-top: 100px;
}
.page .content {
	background-color: #f5f9f6;
	padding: 70px 20px 70px;
	margin-top: -40px;
	font-size: 1.5rem;
	color: #333;
}
.page .content-head {
	font-size: 1.7rem;
	font-weight: bold;
	text-align: center;
	margin-bottom: 30px;
}
.page .content-guide {
	text-align: center;
	background-color: white;
	margin: 45px 0 25px;
	padding: 20px 0;
	border-radius: 5px;
	position: relative;
}
.page .content-guide-symbol {
	color: #66bd9a;
}
.page .content-guide img {
	left: 50%;
	top: 0;
	position: absolute;
	transform: translate(-50%, -70%);
}
.page .content-guide-big-ttl {
	font-size: 2.75rem;
	color: #18943b;
	font-weight: bold;
}
.page .content-guide-mini-ttl {
	font-size: 1.6rem;
	font-weight: bold;
	position: relative;
}
.page .content-guide-mini-ttl:before,
.page .content-guide-mini-ttl:after {
	content: '';
	border-bottom: 1px solid black;
	position: absolute;
	width: 35px;
}
.page .content-guide-mini-ttl:before {
	top: 50%;
	left: 20px;
}
.page .content-guide-mini-ttl:after {
	top: 50%;
	right: 20px;
}
.page .content-guide:after {
	content: '';
	bottom: -14px;
	position: absolute;
	transform: translate(-50%, -50%);
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #fff;
}
.page .content-guide-img {
	display: flex;
	width: 100%;
	margin-bottom: 20px;
}
.page .content-guide-img img {
	width: calc(100% / 3);
	height: auto;
	padding-right: 10px;
}
.page .content-guide-img img:last-child {
	padding-right: 0;
}
.page .content-guide-img-second img {
	height: auto;
	width: 100%;
	margin-bottom: 52px;
}
.page .content-certificate {
	border: 1px solid #d9e5df;
	border-radius: 5px;
	padding: 33px 27px 38px;
	background-color: white;
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
}
.page .content-certificate-img {
	text-align: center;
}
.page .content-certificate-big-ttl {
	margin: 25px 0;
	font-weight: bold;
}
.page .content-btn {
	margin-top: 45px;
	width: 100%;
}
.page .news {
	margin: 50px 0 40px;
}
.page .news-elm {
	margin-top: 15px;
	display: flex;
	flex-direction: column;
	border-bottom: 1px dotted #ccc;
}
.page .news-elm:first-child {
	margin-top: 0;
}
.page .news-elm-head {
	padding-left: 33px;
}
.page .news-elm-head-time {
	color: #18943b;
	margin-right: 10px;
}
.page .news-elm-head-badge {
	display: inline-block;
	text-align: center;
	background-color: #68c210;
	color: white;
	padding: 1px 0;
	border-radius: 2px;
	min-width: 66px;
}
.page .news-elm-head-badge.orange {
	background-color: #f89357;
}
.page .news-elm-head-badge.blue {
	background-color: #6082db;
}
.page .news-elm-title {
	font-size: 1.16rem;
	padding: 5px 0 15px 33px;
}
.page .news-elm-title:hover {
	text-decoration: underline;
}

.contact {
	text-align: center;
	background-color: #e4f5e9;
	padding: 30px 20px;
	color: #333;
	position: relative;
	display: flex;
	flex-direction: column;
}
.contact-main-ttl {
	font-weight: bold;
	font-size: 1.167rem;
	margin-bottom: 5px;
}
.contact-main-phone {
	font-size: 2.5rem;
	margin-left: 7px;
	font-weight: bold;
}
.contact-main-time {
	font-size: 1.167rem;
	margin-bottom: 15px;
}
.contact .scroll-top {
	height: 45px;
	width: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	background-color: #18943b;
	flex-direction: column;
	position: absolute;
	right: 0;
	top: -45px;
	font-size: 0.6rem;
	color: white;
}
.contact .scroll-top img {
	margin-bottom: 3px;
}

.maps {
	height: 198px;
}
.maps iframe {
	border: 0;
}

footer {
	padding: 46px 20px 36px;
	text-align: center;
	display: flex;
	flex-direction: column;
}
footer .footer-address {
	margin: 30px 0;
	font-size: 1.167rem;
}
footer .footer-ads {
	padding: 15px;
	border: 1px solid #ccdbd0;
	border-radius: 5px;
	text-align: left;
	color: #333;
	display: flex;
	margin-bottom: 23px;
}
footer .footer-ads-content {
	margin-left: 16px;
	color: #070707;
}
footer .footer-ads img:first-child {
	margin-right: 8px;
}
footer .footer-copyright {
	color: #666;
}

@media screen and (min-width: 768px) {
	html {
		font-size: 16px;
	}
	.sp {
		display: none;
	}
	.pc {
		display: block;
	}
	.button {
		font-size: 1.125rem;
		width: 300px;
		max-width: 300px;
		height: 60px;
		max-height: 60px;
	}
	.button img {
		height: 16px;
	}
	.button:hover {
		cursor: pointer;
		opacity: 0.85;
		transition: all 0.5s;
	}
	.button-ico-left {
		left: 27px;
	}
	.button-ico-right {
		right: 23px;
	}
	header {
		height: 140px;
		padding-right: 46px;
	}
	header .logo {
		margin-left: 50px;
		height: 70px;
	}
	header .menu.sp {
		display: none;
	}
	header .menu-pc ul {
		display: flex;
	}
	header .menu-pc ul li {
		text-align: center;
		margin-right: 30px;
		font-size: 0.875rem;
		font-weight: bold;
	}
	header .menu-pc ul li a img {
		margin-bottom: 10px;
	}
	header .menu-pc ul li:last-child {
		margin-right: 0;
	}
	.page {
		max-width: 1400px;
		margin: 0 auto;
		padding: 0 0 160px;
	}
	.page-nav .page-padding {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.page-nav .page-padding .button:first-child {
		margin-right: 36px;
		margin-bottom: 0;
	}
	.page-img .illust-staff-img {
		padding: 0 100px 0 80px;
		max-width: 940px;
		text-align: center;
		margin: 0 auto;
		margin-bottom: 55px;
	}
	.page-img.page-main-img {
		padding-top: 0;
	}
	.page-padding {
		padding: 0;
		max-width: 940px;
		text-align: center;
		margin: 0 auto;
	}
	.page-bold-ttl {
		font-size: 1.5rem;
	}
	.page-normal-ttl {
		text-align: center;
		line-height: 2;
		margin-bottom: 60px;
	}
	.page .heading {
		margin-top: 168px;
	}
	.page .heading-mini-ttl {
		font-size: 1.5rem;
	}
	.page .heading-big-ttl {
		font-size: 5.625rem;
	}
	.page .heading-big-ttl-img {
		height: 55px;
		margin: 0 28px;
	}
	.page .heading-ico img {
		height: 41px;
	}
	.page .heading.first {
		margin-top: 78px;
	}
	.page .content {
		padding: 80px 0 97px;
		margin-top: -70px;
	}
	.page .content-head {
		font-size: 1.5rem;
		max-width: 940px;
		text-align: center;
		margin: 0 auto 30px;
	}
	.page .content-txt {
		font-size: 1.1rem;
		max-width: 940px;
		text-align: center;
		margin: 0 auto;
	}
	.page .content-guide {
		max-width: 940px;
		margin: 85px auto 50px;
		padding: 25px 0 15px;
	}
	.page .content-guide img {
		height: 56px;
	}
	.page .content-guide-big-ttl {
		font-size: 3.75rem;
	}
	.page .content-guide-mini-ttl {
		font-size: 1.67rem;
	}
	.page .content-guide-mini-ttl:before,
	.page .content-guide-mini-ttl:after {
		width: 65px;
	}
	.page .content-guide-mini-ttl:before {
		left: 24%;
	}
	.page .content-guide-mini-ttl:after {
		right: 24%;
	}
	.page .content-guide:after {
		bottom: -29px;
		border-left: 20px solid transparent;
		border-right: 20px solid transparent;
		border-top: 20px solid #fff;
	}
	.page .content-guide-img {
		max-width: 940px;
		text-align: center;
		margin: 0 auto 30px;
	}
	.page .content-guide-img img {
		padding-right: 34px;
	}
	.page .content-guide-img img:last-child {
		padding-right: 0;
	}
	.page .content-guide-img-second {
		max-width: 940px;
		text-align: center;
		margin: 0 auto;
	}
	.page .content-guide-img-second img {
		margin-bottom: 52px;
	}
	.page .content-certificate {
		max-width: 940px;
		text-align: center;
		margin: 0 auto;
		flex-direction: row;
		padding: 18px 0px 18px 50px;
		font-size: 1rem;
		text-align: left;
	}
	.page .content-certificate-img {
		display: flex;
	}
	.page .content-certificate-img img {
		height: 90px;
		margin-right: 18px;
	}
	.page .content-certificate-img img:last-child {
		margin-right: 47px;
	}
	.page .content-certificate-big-ttl {
		font-size: 1.125rem;
		margin: 10px 0;
	}
	.page .content-btn {
		margin-top: 65px;
		display: flex;
		justify-content: center;
	}
	.page .news {
		max-width: 940px;
		margin: 70px auto 60px;
	}
	.page .news-elm {
		margin-top: 0;
		flex-direction: row;
		height: 60px;
		align-items: center;
	}
	.page .news-elm-head {
		padding-left: 17px;
		display: flex;
		align-items: center;
	}
	.page .news-elm-head-time {
		margin-right: 32px;
		font-size: 1.125rem;
	}
	.page .news-elm-head-badge {
		background-color: #68c210;
		padding: 0;
		border-radius: 3px;
		min-width: 80px;
		height: 18px;
		max-height: 18px;
		font-size: 0.75rem;
	}
	.page .news-elm-title {
		font-size: 1rem;
		padding: 0 0 0 18px;
	}
	.contact {
		padding: 40px 0;
		flex-direction: row;
	}
	.contact-main {
		width: 940px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
	}
	.contact-main-ttl {
		font-size: 1rem;
		margin-bottom: 0;
		text-align: left;
		line-height: 2;
		padding-top: 3px;
	}
	.contact-main-phone {
		font-size: 1.75rem;
		margin-left: 0;
	}
	.contact-main-phone img {
		height: 23px;
		margin-bottom: 5px;
	}
	.contact-main-time {
		font-size: 1.167rem;
		margin-bottom: 0;
		font-weight: bold;
	}
	.contact .scroll-top {
		height: 80px;
		width: 80px;
		top: -80px;
		font-size: 0.8rem;
		color: white;
	}
	.contact .scroll-top img {
		margin-bottom: 6px;
		height: 6px;
	}
	.contact .scroll-top:hover {
		cursor: pointer;
	}
	.maps {
		height: 350px;
	}
	.pc-bot-menu {
		height: 80px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #18943b;
	}
	.pc-bot-menu-elm {
		padding: 0 10px;
		height: 13px;
		text-transform: uppercase;
		color: white;
		font-size: 0.8rem;
		border-right: 2px solid #74bf89;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.pc-bot-menu-elm:last-child {
		border-right: none;
	}
	footer {
		padding: 0;
		flex-direction: row;
		width: 940px;
		margin: 0 auto;
		justify-content: space-between;
		align-items: center;
		height: 220px;
		max-height: 220px;
	}
	footer .footer-address {
		margin: 18px 0 0;
		font-size: 1rem;
	}
	footer .footer-ads {
		padding: 0 27px 0 30px;
		margin-bottom: 17px;
		height: 88px;
		max-height: 88px;
		display: flex;
		align-items: center;
	}
	footer .footer-ads-content {
		font-size: 0.75rem;
		font-weight: bold;
	}
	footer .footer-copyright {
		text-align: right;
		font-size: 0.8rem;
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	header .logo {
		height: 55px;
		margin-left: 23px;
	}
	header .menu-pc ul li {
		margin-right: 20px;
		font-size: 0.7rem;
	}
	header .menu-pc ul li a img {
		margin-bottom: 5px;
		height: 27px;
	}
	header .menu-pc ul li a img:last-child {
		height: 44px;
		margin-bottom: 0;
	}
	header .menu-pc ul li:last-child {
		margin-right: 0;
	}
	.page .content-txt {
		max-width: 700px;
	}
	.page .content-guide {
		max-width: 700px;
	}
	.page .content-guide-mini-ttl:before {
		left: 15%;
	}
	.page .content-guide-mini-ttl:after {
		right: 15%;
	}
	.page .content-guide-img {
		max-width: 700px;
	}
	.page .content-guide-img-second.pc {
		max-width: 700px;
	}
	.page .content-certificate {
		max-width: 700px;
		padding-right: 10px;
	}
	.page .news {
		max-width: 700px;
	}
	.page .page-normal-ttl {
		max-width: 700px;
		margin: 0 auto;
	}
	.contact-main {
		max-width: 700px;
	}
	footer {
		width: 720px;
	}
}

@media screen and (min-width: 415px) and (max-width: 767px) {
	.button {
		max-width: 315px;
	}
	.page .content-btn {
		display: flex;
		justify-content: center;
	}
	.page-padding {
		display: flex;
		align-items: center;
		flex-direction: column;
	}
	.contact .scroll-top {
		width: 50px;
		height: 50px;
		top: -50px;
		font-size: 0.8rem;
	}
	.contact .scroll-top img {
		height: 4px;
	}
}
